/* @override http://localhost:3000/stylesheets/ucp.css?1263759066 */

body {
      background-color: #eee;
      margin: 0px;
      font-family: arial, helvetica, sans-serif;
      font-size:14pt;
    }

#brandingbar ul {
	display: block;
	border: 2px solid #000d0c;
	list-style-type: none;
}

#brandingbar ul li a {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#brandingbar ul li {
	display: inline;
	padding: 5px 10px;
}
    
    div#contentwrap {
	margin: 0 20px;
}
    
#search_by_name {
	float: right;
}

p label {
	font-weight: bold;
	width: 40%;
}
        
    div.label {
      position:relative;
      background-color: #999;
      font-family: arial, helvetica, sans-serif;
      font-size: 20pt;
      color: white;
      top: 192px;
      left:0px;
      z-index:1;
      width:320px;
      text-align:center;
      padding: 8px 0px 8px 0px;
      display:block;
      
    }
    
    div.label a {
      color:white;
      text-decoration:none;
    }
    
    div.label a:hover {
      color: #008001;
      text-decoration:underline;
    }

    
    div.site_box {
      position:relative;
      margin: 40px 4px 10px 4px;
      float:left;
      display:inline;
      border:1px solid #ddd;
      width:320px;
      height:240px;
    }
    
    div.transparent_class {
    	filter:alpha(opacity=75);
    	-moz-opacity:0.75;
    	-khtml-opacity: 0.75;
    	opacity: 0.75;
    }
    
    img { 
      position:relative;
      top: 0px;
      left:0px;
      z-index:0;
    }
    
    .error{
      color: red
    }
    
    div#brandingbar {
      min-height:18px;
      min-width:960px;
      color: white;
      #background-color: #008001; 
      background-color: #3590DF; 
      border-bottom:2px solid #004001;
      padding:0.6em 0.9em 0.2em 0;
      text-align:center;
      filter:alpha(opacity=50);
    	-moz-opacity:0.5;
    	-khtml-opacity: 0.5;
    	opacity: 0.5;
    }
    
    div#bbinner {
      clear:both;
      margin:0 auto;
      text-align:left;
      width:960px;
      font-family: arial, helvetica, sans-serif;
      color: #fff;
      font-size:0.8em;
    }

	div#add_affiliate {
		clear: both;
		width: 90%;
		float: left;
		padding: .6em .9em;
		margin: 3em 0;
	}
    
    div#bbinner a {
      font-family: arial, helvetica, sans-serif;
      color: #004001;
      text-decoration:none;
      font-size:1.20em;
    }
    
    h1 {
     font-size:24pt;
     color: #008001;
    }
