/* @override 
	http://localhost:3000/stylesheets/ucp.css?1265818768
	http://localhost:3000/stylesheets/ucp.css?1265985845
*/

/* Styles for Remediation #1 (UCP1 - Sealevel) */

/* Wrapper is 960px wide and uses auto margins to center */


/* Top Hat */

div#tophat {
	position: relative;
	display: block;
	height: 40px;
	background-image: url('/stylesheets/images/tophat_bkgd.png');
	width: 100%;
	margin: 0;
	padding: 0 0 2px 0;
}

div#tophat_content {
	position: relative;
	display: block;
	color: #00728F;
	width: 960px;
	margin: auto;
	padding: 0;
	float: center;
}

div#tophat_msg {
	position: relative;
	display: block;
	color: #00728F;
	width: 400px;
	margin: 0;
	padding: 10px 0 0 40px;
	float: left;
	text-align: left;
	font-size: 8pt;
	text-transform: uppercase;
}

div#tophat_msg a {
	text-decoration: underline;
	color: #00728F;
}

div#affnet_link {
	position: relative;
	display: block;
	color: #00728F;
	width: 400px;
	margin: 0;
	padding: 10px 40px 0 0;
	float: right;
	text-align: right;
	font-size: 7pt;
	text-transform: uppercase;
}

div#affnet_link img {
	vertical-align:bottom;
}

div#affnet_link a {
	text-decoration: none;
	color: #00728F;
}

/* Header */

/* Horizontal Nav (Channels) */
/* Navigation Menu Styles */

#mainnav {
	position: relative;
	display: block;
	height: 24px;
	background-color: #eee;
	margin-top: 12px;
}

#mainnav ul {
	position: relative;
	padding: 0px;
	float: left;
	text-align: center;
	margin: 0;
	margin-left: 4px;
	margin-right: auto;
	height: 24px;
}

#mainnav li {
	list-style: none;
	display: block;
	overflow: none;
	float: left;
	font-size: 0.75em;
	font-weight: bold;
	height: 100%;
	padding: 0 0px 0 0;
}

#mainnav li a, #mainnav li a:link, #mainnav li a:hover, #mainnav li a:visited {	
	position: relative;
	display: block;
	height: 100%;
	padding: 5px 6px 0 6px;
	text-decoration: none;
	color: #00728F;	
	
}

#mainnav li a:hover {
	background-color: #003A52;
	color: white;
	height: 20px;
}

li#current_btn, li#current_btn a {
	background-color: #003A52;
	color: white;
}

    div.label {
      position:relative;
      background-color: #999;
      font-family: arial, helvetica, sans-serif;
      font-size: 20pt;
      color: white;
      top: 192px;
      left:0px;
      z-index:1;
      width:320px;
      text-align:center;
      padding: 8px 0px 8px 0px;
      display:block;
      
    }
    
    div.label a {
      color:white;
      text-decoration:none;
    }
    
    div.label a:hover {
      color: #008001;
      text-decoration:underline;
    }

    
    div.site_box {
      position:relative;
      margin: 40px 4px 10px 4px;
      float:left;
      display:inline;
      border:1px solid #ddd;
      width:320px;
      height:240px;
    }
    
    div.transparent_class {
    	filter:alpha(opacity=75);
    	-moz-opacity:0.75;
    	-khtml-opacity: 0.75;
    	opacity: 0.75;
    }
    
    img { 
      position:relative;
      top: 0px;
      left:0px;
      z-index:0;
    }
    

/* End Navigation Menu Styles */

/* Masthead */

/* Main Content Section */

#map_div {
	margin: 0 0 20px 15px;		
}

#content h1 {
	color: #00728F	
}

table {
	border-style: solid;
}
tr.odd {
	background-color: #eee;
}

td {
	vertical-align: top;
}
 

/* Left Column (Nav) */

/* Center column */

/* Right column */

/* Footer */

/* Footer: Fat Footer */

/* Footer: Sub Footer */