<div class='site_box' style="background-image:url('<%= affiliate.thumbnail_url %>');">
	<div class="label transparent_class" >
	  <%= autolink(affiliate.url, affiliate.name_abbr) %>
	
	</div>
	
</div>