
<h1>UCP Affiliates</h1>
<% @feed.feed.each do |org, details| %>
<h1><%= org %></h1>
<%=  %>
<ul>
    <% details.each    do |key, val|  %>
        <li><%= key %>  - <%= val %></li>
    <% end -%>
</ul>
<% end -%>