
<h1>UCP Affiliates feed data</h1>
<% @feed.to_s.each do |org, details| %>
<h1><%= org %></h1>
<ul>
	<% details.each	do |key, val|  %>
		<li><%= key %>  - <%= val %></li>
	<% end -%>
</ul>
<% end -%>
