
<h1>UCP Affiliates</h1>

<% @affiliates.each do |affiliate| %>
  <%= render :partial => 'affiliate',  :collection => @affiliates %>
<% end %>

<br />
<div id="add_affiliate">
<%= link_to 'New affiliate', new_affiliate_path %>
</div>