<div id="footer">

	<div id="fat_footer">
		<div class="column">
		<h1>&copy;2010, UCP National</h1>
			<ul>
			1660 L Street, NW, Suite 700<br />
			Washington, DC 20036<br /><br />

			
			<strong>Phone:</strong> (800) 872-5827/(202) 776-0406<br />
			<strong>Fax:</strong> (202) 776-0414 <br />
			<strong>E-Mail:</strong> <a href="mailto:info@ucp.org?Subject=UCP Site Contact">info@ucp.org</a>
		
			</ul>

		

		  
		
					
		</div>
		<div class="column">
			<h1>Learn About UCP</h1>
			
			<ul>
		
				<li><a href="/ucp_general.cfm/1/3">About UCP</a></li>			
			
				<li><a href="/ucp_general.cfm/1/16243">Life Without Limits</a></li>			
			
				<li><a href="/ucp_generalsub.cfm/1/16583">2010 Conference</a></li>			
			
				<li><a href="/ucp_general.cfm/1/16253">2009 Life Without Limits<br> Economic Forum and Celebration</a></li>			
			
				<li><a href="/ucp_general.cfm/1/6">Corporate Sponsors</a></li>			
			
				<li><a href="/ucp_general.cfm/1/8">Public Policy</a></li>			
			
				<li><a href="/ucp_general.cfm/1/9">Press Room</a></li>			
			
				<li><a href="/ucp_general.cfm/1/6619">Grants & Contracts</a></li>			
			
				<li><a href="/ucp_general.cfm/1/12591">UCP Newsletters</a></li>			
			
			</ul>

	
		</div>
		<div class="column">
			<h1>Helpful Links</h1>
			
			<ul>
		
				<li><a href="/ucp_general.cfm/1/3">NewsP</a></li>			
			
				<li><a href="/ucp_general.cfm/1/16243">RSS Feeds</a></li>			
			
				<li><a href="/ucp_generalsub.cfm/1/16583">Take Action</a></li>			
			
				<li><a href="/ucp_general.cfm/1/16253">Calendar</a></li>			
			
				<li><a href="/ucp_general.cfm/1/6">Feedback</a></li>			
			
				<li><a href="/ucp_general.cfm/1/8">Site Map</a></li>			
			
				<li><a href="/ucp_general.cfm/1/9">Web Site Accessibility</a></li>			
			
				<li><a href="/ucp_general.cfm/1/6619">Audio/Video Gallery</a></li>			
			
				<li><a href="/ucp_general.cfm/1/12591">En Espanol</a></li>			
			
			</ul>

		
		</div>
<div class="dspPrintOnly"><p style="padding-top: 10px;"><hr size=1 noshade style="width: 100%;"></p></div>
		
	
	</div>
	<div id="sub_footer">
		<a href="/document.cfm/248/1">Privacy Policy</a> &amp; <a href="/document.cfm/249/1">Terms of Service</a>
		<a  href="ucp_rss.cfm/1"><img src="/images/rss.png" border="0" alt="rss logo"> RSS Feed</a>

	</div>
	
	
</div>	<!-- /footer -->

