<div id="mainnav">
	<ul>
		<li><%= link_to 'Home', affiliates_path %></li>
		<li><%= link_to 'Tabular view', :controller => "affiliates", :action => "list"   %></li>
		<li><%= link_to 'New affiliate', new_affiliate_path %></li>
		<li><% link_to 'View external source', :controller => "affiliates", :action => "feed"   %></li>
	</ul>
</div>