<div id="mainnav">
	<ul>
		<li><%= link_to 'Home', affiliates_path %></li>
		<li><%= link_to 'Tabular view', :controller => "affiliates", :action => "list"   %></li>
		<li><%= link_to 'Show Events', events_path %></li>
	</ul>
</div>